body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex: 1;
  flex-direction: column;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-images {
  display: flex;
  /* justify-content: center; */
  gap: 24px;
  padding: 24px;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  background-color: #1F2937;
}

.logo {
  display: flex;
  align-items: center;
  gap:16px;
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  align-items: space-between;
  gap: 16px;
}

.hero {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;
  padding: 24px;
}

.hero-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-image {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
  justify-content: center;
  /* width: 50%; */
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: extra-bold;
}

button {
  border: none;
  border-radius: 8px;
  background-color: #3882f6;
  padding: 8px 1em;
  width: 120px;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
}

.sign-up {
  background-color: #3882f6;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #1F2937;
}
